/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   Reset default styles
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    my editions
 */
h1 {
    font-size: 34px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #ede7f6;
}

.addFile{
    color: #4285f4;
    font-size: 14px;
    font-weight: 500;
    margin: unset;
    text-decoration: none;
}

header {
    background-color: #673ab7;
    height: 278px;
    align-items: flex-start;
    display: block;
}

.forFooter {
    margin: 16px 100px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.forGoogleForms {
    margin: 24px 100px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;

}

.form {
    background-color: white;
    color: black;
    border-color: black;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: -100px;
}

.non-stripe {
    padding-top: 34px;
    padding-bottom: 34px;
    margin-bottom: 75px;
}

.necessary {
    color: red;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 13px;
    padding-left: 34px;
    padding-right: 34px;
}

.stripe {
    background-color: #b388ff;
    height: 8px;
}

.question {
    font-size: 20px;
}

.questions {
    padding-left: 17px;
    padding-right: 17px;
}

.forDate {
    margin-top: 15px
}

.date{
    color: #00000061;
    font-size: 12px;
}

.forSubmit {
    margin-top: 34px;
    padding-left: 34px;
    padding-right: 34px;
}

.forUsingGoogle {
    margin-top: 8px;
}

.submit{
    background-color: #4285f4;
    color: white;
    height: 36px;
    border-radius: 3px;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.stars {
    color: red;
}

.titleForm {
    padding-left: 34px;
    padding-right: 34px;
}

.one_question {
    padding: 17px;
    margin-top: 2px;
}

.enterName {
    font-size: 14px;
    margin: unset;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom: 1px dotted black;
    border-left-width: 0;
}

.forEnterName {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 12px;
}

.textFooter{
    color: #646464;
    font-size: 12px;

}

.googleForms {
    color: #646464;
    font-size: 22.1px;
}

.grid {
    display: grid;
    grid-template-rows: 100%;
}

.radioSpan {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: flex-start;
}

.radios {
    margin-top: 8px;
}

.labelName {
    margin-left: 12px;
    margin-right: 12px;
}